---
import { DOMAIN } from '@/global/constants';

type Props = {
  data?: Array<{
    name: string;
    path: string;
  }>;
  firstItemType?: string;
};

const { data = [], firstItemType } = Astro.props;

const breadcrumbsData = [{ name: 'Strona główna', path: '/' }, ...data];

const schema = JSON.stringify({
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  itemListElement: breadcrumbsData.map(({ name, path }, i) => ({
    '@type': 'ListItem',
    position: i + 1,
    name: name,
    item: `${DOMAIN}${path}`,
  })),
});
---

<script is:inline type="application/ld+json" set:html={schema} />
{breadcrumbsData.length >= 2 && !firstItemType &&   
    <style is:global lang="scss">
        main {
        & > section:first-of-type {
            padding-top: clamp(1rem, calc(2vw / 0.48), 2rem) !important;
        }
        }
    </style>}
{breadcrumbsData.length >= 2 && (

  <nav class="Breadcrumbs max-width" data-first-item-type={firstItemType}>
    {breadcrumbsData.map(({ name, path }, i) => {
      const isLastItem = i === breadcrumbsData.length - 1
      return (
        isLastItem ? <span>{name}</span> : (
          <a href={path}>{name}</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none"><path stroke="#87988B" stroke-linecap="round" stroke-linejoin="round" d="m4.5 9 3-3-3-3"/></svg>
        )
      )
    })}
  </nav>
)}

<style lang="scss">
  .Breadcrumbs {
    font-size: var(--typography-body-s, 0.75rem);
    display: flex;
    align-items: center;
    gap: 0.25rem;

    svg {
      flex-shrink: 0;
    }
    a,
    span {
      min-height: 2.75rem;
      line-height: 2.75rem;
      white-space: nowrap;
      &:first-child {
        color: var(--neutral-900, #141915);
      }

      &:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    a {
      transition: opacity 500ms;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 600ms var(--easing);
        background-color: var(--neutral-900, #141915);
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        top: 0.625rem;
        height: calc(100% - 1.25rem);
        background-color: var(--neutral-300, #e9f2ed);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 600ms var(--easing);
        z-index: -1;
      }

      &:last-child {
        &::before {
          background-color: var(--neutral-800, #48514a);
        }
      }

      &:hover {
        opacity: 0.76;
        &::before {
          transform: scaleX(1);
        }
      }

      &:focus:not(:focus-visible) {
        &::after {
          transform: scaleY(1);
        }
      }

      &:focus-visible {
        outline: 2px solid var(--neutral-700, #5f6d62);
        border-radius: 4px;
      }
    }

    &[data-first-item-type='CenteredHeadingBackgroundImage'] {
      position: absolute;
      left: 50%;
      top: 1.75rem;
      transform: translateX(calc(-50% + 1.25rem));
      height: max-content;
      z-index: 10;
    }

    &[data-first-item-type='DualColumnSection'] {
      padding-top: 3rem;
    }

    &[data-first-item-type='MiddleImageCtas'] {
      position: absolute;
      background-color: var(--neutral-200, #e9f2ed);
      top: 0;
      left: 0;
      max-height: max-content;
      max-width: max-content;
      left: calc((100% - (1366px - 2 * var(--pageMargin))) / 2);
      margin-top: 1.25rem;
      z-index: 10;
      max-width: 19.5rem;
      width: 100%;
      padding-left: 0.25rem;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 100%;
        background-color: #e9f2ed;
        border-radius: 0 0 20px 0;
        z-index: 30;
      }

      &::after {
        width: 30px;
        height: 8px;
        background-color: #e9f2ed;
        border-radius: 0 0 0 0;
        right: -30px;
      }

      @media (max-width: 85.375rem) {
        left: var(--pageMargin);
      }

      @media (max-width: 56.25rem) {
        position: static;
        max-width: none;
        padding: clamp(1.5rem, calc(2rem / 0.48), 2rem) var(--pageMargin) 0;

        &::before,
        &::after {
          display: none;
        }
      }
    }
    &[data-first-item-type='ContactForm'] {
      padding-top: 1.5rem;
    }
  }
</style>
