---
import imageToInlineSvg from '../components/ui/image/image-to-inline-svg';
import sanityFetch from '../utils/sanity.fetch';
import Image, { ImageDataQuery, type ImageDataProps } from '../components/ui/image';

const data = await sanityFetch<{
  tel: string;
  email: string;
  openHours: {
    from: string;
    to: string;
    closedWeekends: boolean;
  };
  navigation: {
    annotation: { icon: string; text: string; visible: boolean };
    header: {
      highlistedProjects: { name: string; slug: string; image: ImageDataProps }[];
      links: {
        linksLeft: { title: string; slug: string }[];
        linksRight: { title: string; slug: string }[];
      };
    };
  };
}>({
  query: `
    *[_type == "global"][0]{
      tel,
      email,
      openHours,
      navigation{
        annotation{
          "icon": icon.asset -> url,
          text,
          visible
        },
        header{
          highlistedProjects[] -> {
            name,
            "slug": slug.current,
            ${ImageDataQuery('image')}
          },
          links{
            linksLeft[] {
              title,
              "slug": reference->slug.current,
            },
            linksRight[] {
              title,
              "slug": reference->slug.current,
            },
          },
        },    
      },
    }
`,
});

const svgContent = data?.navigation?.annotation?.icon ? await imageToInlineSvg(data.navigation.annotation.icon) : null;

const formatTime = (time: string) => {
  const [hours, minutes] = time.split(':').map(Number);
  return minutes === 0 ? `${hours}` : `${hours}:${minutes}`;
};

const OpenHoursText = {
  days: data.openHours.closedWeekends ? 'Pon.-Pt.' : 'Codziennie',
  time: `${formatTime(data.openHours.from)} - ${formatTime(data.openHours.to)}`,
};

const pathname = Astro.url.pathname;
---

<a class="skip-link" href="#main">Przejdź do treści głównej</a>
{
  data?.navigation.annotation.visible && (
    <aside class="annotation">
      <div class="container max-width">
        <a href={`tel:${data?.tel}`} class="tel">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none">
            <g clip-path="url(#a)">
              <path
                stroke="#87988B"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.25"
                d="M8.196 3.5A2.917 2.917 0 0 1 10.5 5.804M8.196 1.167a5.25 5.25 0 0 1 4.637 4.631M5.966 8.087a8.518 8.518 0 0 1-1.66-2.34.99.99 0 0 1-.067-.154.61.61 0 0 1 .086-.503c.028-.04.061-.073.128-.14.204-.203.306-.305.373-.408a1.167 1.167 0 0 0 0-1.272c-.067-.102-.169-.204-.373-.408l-.114-.114c-.31-.31-.465-.465-.631-.549a1.167 1.167 0 0 0-1.053 0c-.167.084-.322.24-.632.55l-.092.091c-.309.31-.463.464-.581.674a1.97 1.97 0 0 0-.224.862c0 .24.047.405.14.735.503 1.77 1.45 3.439 2.843 4.832a11.107 11.107 0 0 0 4.833 2.843c.329.093.493.14.734.14.268.002.63-.093.863-.224.21-.118.364-.272.673-.581l.092-.092c.31-.31.465-.465.55-.631a1.167 1.167 0 0 0 0-1.054c-.085-.166-.24-.321-.55-.631l-.114-.114c-.204-.204-.306-.306-.408-.372a1.167 1.167 0 0 0-1.272 0c-.102.066-.204.168-.408.372-.067.067-.1.1-.14.128a.61.61 0 0 1-.502.086c-.046-.013-.083-.03-.155-.066a8.518 8.518 0 0 1-2.34-1.66Z"
              />
            </g>
            <defs>
              <clipPath id="a">
                <path fill="#fff" d="M0 0h14v14H0z" />
              </clipPath>
            </defs>
          </svg>
          <span class="number">{data?.tel}</span>
          <span class="hours">{`${OpenHoursText.days} ${OpenHoursText.time}`}</span>
        </a>
        <a href={`mailto:${data?.email}`} class="email">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none">
            <path
              stroke="#87988B"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.25"
              d="M1.167 4.083 5.93 7.417c.385.27.578.405.788.458.185.046.379.046.564 0 .21-.053.403-.188.788-.458l4.763-3.334m-8.866 7.584h6.066c.98 0 1.47 0 1.845-.191a1.75 1.75 0 0 0 .765-.765c.19-.374.19-.864.19-1.844V5.133c0-.98 0-1.47-.19-1.844a1.75 1.75 0 0 0-.765-.765c-.374-.19-.865-.19-1.845-.19H3.967c-.98 0-1.47 0-1.845.19a1.75 1.75 0 0 0-.765.765c-.19.374-.19.864-.19 1.844v3.734c0 .98 0 1.47.19 1.844.168.33.436.597.765.765.375.19.865.19 1.845.19Z"
            />
          </svg>
          <span class="address">{data?.email}</span>
        </a>
        <div class="annotationContent">
          <Fragment set:html={svgContent} />
          <span class="annotationText">{data.navigation.annotation.text}</span>
        </div>
      </div>
    </aside>
  )
}
<header class="header">
  <div class="headerContainer max-width">
    <nav class="links links__left">
      <div class="projectsContainer">
        <button role="button" aria-expanded="false" class="headerLink">
          <span>Realizacje</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.25"
              d="m3 4.5 3 3 3-3"
            >
            </path>
          </svg>
        </button>
        <div class="projectsList">
          <div class="max-width">
            {
              data.navigation.header.highlistedProjects.map(({ name, slug, image }) => (
                <a href={slug} class="project" data-current={pathname === slug}>
                  <div class="image">
                    <Image {...image} sizes="" />
                  </div>
                  <span>{name}</span>
                </a>
              ))
            }
            <a href="/realizacje" class="allProjects">
              <span>Wszystkie realizacje</span>
              <div class="iconContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" fill="none">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.25"
                    d="M.667 6H10m0 0L5.333 1.333M10 6l-4.667 4.666"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" fill="none">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.25"
                    d="M.667 6H10m0 0L5.333 1.333M10 6l-4.667 4.666"></path>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      {
        data.navigation.header.links.linksLeft.map((link) => (
          <a href={link.slug} class="headerLink" data-current={pathname === link.slug}>
            {link.title}
          </a>
        ))
      }
      <div class="highlight"></div>
    </nav>
    <a href="/" class="logo" aria-label="Przejdź do strony głównej">
      <svg xmlns="http://www.w3.org/2000/svg" width="141" height="20" fill="none">
        <g>
          <g>
            <path
              fill="#68746B"
              d="M26.521 6.815 24.123 4.15l-2.65-2.119A3.758 3.758 0 0 0 18.814.93H8.574c-.996 0-1.953.397-2.658 1.101l-2.65 2.12L.866 6.814C.162 7.519.002 8.477.002 9.472v9.174c0 .145.118.264.264.264h2.746a.264.264 0 0 0 .264-.264V5.767A1.61 1.61 0 0 1 4.448 4.22c.141-.041.29-.057.437-.057h8.681L11.18 6.815c-.706.706-.865 1.662-.865 2.657v9.174c0 .145.118.264.264.264h2.746a.264.264 0 0 0 .264-.264V5.767A1.61 1.61 0 0 1 14.76 4.22c.141-.041.29-.057.437-.057h7.306c.147 0 .296.016.437.057a1.61 1.61 0 0 1 1.173 1.548v12.88c0 .146.118.264.264.264h2.746a.264.264 0 0 0 .264-.264V9.474c0-.996-.16-1.953-.866-2.657v-.002Z"
            >
            </path>
          </g>
          <path
            fill="#48514A"
            d="M42.299 18.462h-3.383a.307.307 0 0 1-.296-.225L34.452 3.098a.307.307 0 0 1 .295-.388h2.26c.14 0 .263.097.297.235l1.738 7.133c.44 2.026.88 3.964 1.263 5.985a.153.153 0 0 0 .15.124h.553a.153.153 0 0 0 .15-.126c.382-2.076.765-3.957 1.263-5.983l1.884-7.14a.306.306 0 0 1 .296-.228h2.967c.14 0 .262.095.297.23l1.855 7.168c.469 1.938.881 3.903 1.263 5.953a.154.154 0 0 0 .15.126h.495a.153.153 0 0 0 .15-.124c.383-1.994.823-3.932 1.263-5.986l1.709-7.132a.306.306 0 0 1 .297-.235h2.11c.202 0 .349.192.295.387l-4.11 15.138a.308.308 0 0 1-.296.227h-3.502a.305.305 0 0 1-.298-.234l-1.53-6.354c-.468-1.94-1.083-4.628-1.472-6.793a.151.151 0 0 0-.15-.125h-.315a.151.151 0 0 0-.15.123c-.42 2.167-1.062 4.855-1.53 6.795l-1.501 6.352a.307.307 0 0 1-.3.236ZM57.08 10.555c0-4.94 3.052-8.175 8.226-8.175 5.174 0 8.227 3.234 8.227 8.175 0 4.941-2.932 8.237-8.227 8.237s-8.226-3.325-8.226-8.237Zm13.79-.029c0-3.474-1.765-5.84-5.563-5.84-3.797 0-5.563 2.366-5.563 5.84 0 3.474 1.735 5.96 5.563 5.96 3.829 0 5.564-2.366 5.564-5.96ZM74.578 10.555c0-4.94 3.052-8.175 8.226-8.175 5.174 0 8.227 3.234 8.227 8.175 0 4.941-2.932 8.237-8.227 8.237s-8.226-3.325-8.226-8.237Zm13.79-.029c0-3.474-1.765-5.84-5.563-5.84s-5.563 2.366-5.563 5.84c0 3.474 1.735 5.96 5.563 5.96 3.829 0 5.564-2.366 5.564-5.96ZM92.588 3.017c0-.169.138-.307.306-.307h6.215c5.654 0 8.317 2.756 8.317 7.757 0 5-3.141 7.995-8.288 7.995h-6.244a.308.308 0 0 1-.306-.306V3.016Zm2.691 2.062v11.014c0 .085.07.154.154.154h3.526c4.158 0 5.803-2.127 5.803-5.78 0-3.864-1.795-5.541-5.984-5.541h-3.347a.154.154 0 0 0-.153.153h.001ZM110.856 18.462h-1.899a.308.308 0 0 1-.307-.307V3.016c0-.168.138-.306.307-.306h3.943c.126 0 .238.076.284.191l2.794 6.936c.411 1.027 1.108 3.118 1.643 4.864.02.065.078.108.146.108h.432a.15.15 0 0 0 .145-.108c.532-1.743 1.174-3.78 1.643-4.955l2.824-6.848a.306.306 0 0 1 .283-.19h3.706c.169 0 .307.138.307.307v15.139a.308.308 0 0 1-.307.307h-2.049a.308.308 0 0 1-.307-.307v-7.301c0-1.774.057-4.057.115-5.833a.152.152 0 0 0-.153-.156h-.326a.151.151 0 0 0-.146.107c-.596 1.926-1.418 4.245-2.21 6.333l-2.553 6.043a.307.307 0 0 1-.282.187h-2.284a.308.308 0 0 1-.284-.19l-2.524-6.13a106.09 106.09 0 0 1-2.092-6.243.151.151 0 0 0-.146-.107h-.239a.152.152 0 0 0-.153.155c.026 1.801-.003 4.03-.003 5.835v7.301a.308.308 0 0 1-.307.307h-.001ZM129.029 2.71h11.023c.168 0 .306.138.306.307v1.662a.308.308 0 0 1-.306.307h-8.485a.154.154 0 0 0-.153.153v4.155c0 .085.069.154.153.154h7.586c.169 0 .307.138.307.307v1.393a.308.308 0 0 1-.307.307h-7.586a.154.154 0 0 0-.153.153v4.395c0 .084.069.153.153.153h8.454c.169 0 .306.138.306.307v1.693a.307.307 0 0 1-.306.306h-10.994a.308.308 0 0 1-.306-.306V3.016c0-.168.138-.306.306-.306h.002Z"
          >
          </path>
        </g>
        <defs>
          <clipPath id="a"><path fill="#fff" d="M0 .5h141v19H0z"> </path> </clipPath>
          <clipPath id="b">
            <path fill="#fff" d="M.001.929h27.385v17.983H.001z"> </path>
          </clipPath>
        </defs>
      </svg>
    </a>
    <nav class="links links__right">
      {
        data.navigation.header.links.linksRight.map((link) => (
          <a href={link.slug} class="headerLink" data-current={pathname === link.slug}>
            {link.title}
          </a>
        ))
      }
      <div class="highlight"></div>
    </nav>
    <button class="mobile__toggle" role="button" aria-label="Otwórz menu mobilne">
      <div></div>
      <div></div>
      <div></div>
    </button>
    <nav class="mobile__menu">
      <div class="mobile__projects">
        <button aria-expanded="false" role="button" class="mobile__projectsToggle">
          <span>Realizacje</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.25"
              d="m4 6 4 4 4-4"
            >
            </path>
          </svg>
        </button>
        <div class="mobile__projectsList">
          <div aria-hidden="true" class="mobile__projectsListContent">
            {
              data.navigation.header.highlistedProjects.map(({ name, slug, image }) => (
                <a href={slug} class="project">
                  <span>{name}</span>
                  <div class="image">
                    <Image {...image} sizes="" />
                  </div>
                </a>
              ))
            }
            <a href="/realizacje" class="allProjects mobile__allProjects">
              <span>Wszystkie realizacje</span>
              <div class="iconContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" fill="none">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.25"
                    d="M.667 6H10m0 0L5.333 1.333M10 6l-4.667 4.666"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" fill="none">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.25"
                    d="M.667 6H10m0 0L5.333 1.333M10 6l-4.667 4.666"></path>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      {
        [...data.navigation.header.links.linksLeft, ...data.navigation.header.links.linksRight].map((link) => (
          <a href={link.slug}>{link.title}</a>
        ))
      }
    </nav>
  </div>
</header>
<div class="overlay" aria-hidden="true"></div>

<style lang="scss">
  .skip-link {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    border-radius: 04px;
    background-color: var(--neutral-300);
    padding: 0.75rem 1.5rem;
    font-size: var(--typography-body-m, 0.875rem);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    &:focus-visible {
      opacity: 1;
      pointer-events: auto;
      outline: 2px solid var(--neutral-600);
    }
  }
  .annotation {
    padding: 0.25rem 0;
    background-color: var(--neutral-100, #f2faf6);
    position: relative;
    z-index: 15;

    .container {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 0 clamp(1.25rem, calc(2vw / 0.48), 2rem);
      .tel {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(2, auto);
        align-items: center;
        gap: 0 0.5rem;
        min-height: 2.75rem;

        svg {
          grid-column: 1/2;
          grid-row: 1/3;
        }
        .number {
          grid-column: 2/3;
          grid-row: 1/2;
          font-size: var(--typography-body-s, 0.75rem);
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 3px;
            width: 100%;
            height: 1.5%;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 1200ms var(--easing);
            background-color: var(--neutral-600, #87988b);
          }
        }
        .hours {
          grid-column: 2/3;
          grid-row: 2/3;
          font-size: var(--typography-body-xs, 0.625rem);
          margin-top: -0.875rem;
        }

        &:hover:not(:focus) {
          .number {
            &::before {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }

        &:focus:not(:focus-visible) {
          .number {
            &::before {
              background-color: var(--neutral-200, #e9f2ed);
            }
          }
        }

        &:focus-visible {
          outline: 2px solid var(--neutral-700, #5f6d62);
          outline-offset: 2px;
          border-radius: 4px;
        }
      }

      .email {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        min-height: 2.75rem;
        .address {
          font-size: var(--typography-body-s, 0.75rem);
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 1.5%;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 1200ms var(--easing);
            background-color: var(--neutral-600, #87988b);
          }
        }

        &:hover:not(:focus) {
          .address {
            &::before {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }

        &:focus:not(:focus-visible) {
          .address {
            &::before {
              background-color: var(--neutral-200, #e9f2ed);
            }
          }
        }

        &:focus-visible {
          outline: 2px solid var(--neutral-700, #5f6d62);
          outline-offset: 2px;
          border-radius: 4px;
        }
      }

      .annotationContent {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .annotationText {
          font-size: var(--typography-body-s, 0.75rem);
        }
      }
    }

    @media (max-width: 30rem) {
      .container {
        .annotationContent {
          grid-column: 1/4;
          grid-row: 1/2;
          justify-self: start;
        }
        .tel {
          grid-column: 1/2;
          grid-row: 2/3;
          justify-content: start;
        }
        .email {
          grid-column: 2/3;
          grid-row: 2/3;
        }
      }
    }
  }

  .header {
    padding: clamp(0.125rem, calc(0.25vw / 0.48), 0.25rem) 0;
    background-color: var(--neutral-100, #f2faf6);
    border-radius: 0 0 8px 8px;
    position: sticky;
    z-index: 20;
    top: 0;

    .headerContainer {
      display: grid;
      position: relative;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 2rem;

      .links {
        display: flex;
        align-items: center;
        gap: 0.625rem 0;
        position: relative;
        overflow: hidden;

        &__left {
          justify-content: start;
          margin-left: -0.75rem;
          isolation: isolate;
        }

        &__right {
          justify-content: end;
          margin-right: -0.75rem;
        }

        .headerLink {
          user-select: none;
          transition: color 300ms;
          padding: 0.375rem 0.75rem;
          min-height: 2.75rem;
          font-size: var(--typography-body-m, 0.875rem);
          position: relative;
          display: flex;
          align-items: center;
          text-align: center;
          gap: 0.25rem;
          z-index: 2;

          svg {
            transition: transform 600ms var(--easing);
          }
          &::after {
            position: absolute;
            border: 2px solid var(--neutral-700, #5f6d62);
            border-radius: 4px;
            width: calc(100% - 0.5rem);
            height: calc(100% - 0.5rem);
            bottom: 50%;
            left: 50%;
            content: '';
            transform: translate(-50%, 50%);
            opacity: 0;
            visibility: hidden;
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--neutral-600, #5f6d62);
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 1200ms var(--easing);
          }

          &:focus-visible {
            outline: none;
            &::after {
              opacity: 1;
              visibility: visible;
            }
          }

          &[data-current='true'] {
            &::before {
              animation: scaleX 900ms var(--easing) forwards;

              @keyframes scaleX {
                from {
                  transform: scaleX(0);
                }
                to {
                  transform: scaleX(1);
                }
              }
            }
          }

          &.linkActive {
            color: var(--neutral-100, #f2faf6);
          }
        }

        .projectsContainer {
          position: relative;

          .projectsList {
            position: fixed;
            left: 0;
            width: 100%;
            background-color: var(--neutral-100, #f2faf6);
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            transform: translateY(-0.25rem);
            padding: 0.75rem 1.25rem 1.25rem;
            opacity: 0;
            border-radius: 0 0 24px 24px;
            transition:
              transform 500ms var(--easing),
              opacity 300ms ease-out;
            > div:first-of-type.max-width {
              display: flex;
              align-items: stretch;
              justify-content: center;
              width: 100%;
              gap: 0.5rem;

              .project {
                display: flex;
                flex-direction: column;
                flex: 1;
                max-width: 13.5rem;

                .image {
                  overflow: hidden;
                  border-radius: 4px;
                  margin-bottom: 0.75rem;

                  img {
                    width: 100%;
                    height: 285px;
                    transition: transform 1000ms var(--easing);
                  }
                }

                span {
                  font-size: var(--typography-body-m, 0.875rem);
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  transition: transform 800ms var(--easing);
                }

                &:hover:not(:focus):not(:focus-visible) {
                  .image {
                    img {
                      transform: scale(1.05);
                    }
                  }

                  span {
                    transform: translateY(-0.125rem);
                  }
                }

                &:focus-visible {
                  outline: 2px solid var(--neutral-700, #5f6d62);
                  outline-offset: 4px;
                  border-radius: 4px;
                }
              }
            }
          }

          &[data-active='true'] {
            .headerLink {
              svg {
                transform: rotate(-180deg);
              }
            }
            .projectsList {
              transform: translateY(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      .allProjects {
        display: flex;
        flex: 1;
        max-width: 13.5rem;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: var(--neutral-300, #d0e1d7);
        border-radius: 4px;
        padding: 0.5rem;
        font-size: var(--typography-body-m, 0.875rem);
        position: relative;
        overflow: hidden;

        .iconContainer {
          position: relative;
          width: 0.75rem;
          height: 0.75rem;
          overflow: hidden;

          svg {
            position: absolute;
            top: 0;
            left: 0;
            transition:
              transform 600ms var(--easing),
              color 300ms ease-out;
          }
          > svg:first-of-type {
          }

          > svg:last-of-type {
            left: 120%;
          }
        }

        span {
          transition:
            transform 800ms var(--easing),
            color 300ms ease-out;
        }

        &::before {
          width: 100%;
          height: 100%;
          top: 100%;
          left: 0;
          background-color: var(--neutral-700, #5f6d62);
          content: '';
          position: absolute;
          transition:
            transform 700ms var(--easing),
            opacity 300ms ease-out;
          border-radius: 4px;
          opacity: 0;
        }

        &:hover {
          .iconContainer {
            > svg:first-of-type {
              transform: translateX(-160%);
            }

            > svg:last-of-type {
              transition: transform 400ms cubic-bezier(0.34, 1.56, 0.74, 1);
              transform: translateX(-120%);
            }
          }

          span {
            transform: translateX(2px);
          }
        }

        &:focus:not(:focus-visible) {
          color: var(--neutral-100, #f2faf6);
          &::before {
            transform: translateY(-100%);
            opacity: 1;
          }
        }

        &:focus-visible {
          outline: 2px solid var(--neutral-700, #5f6d62);
          outline-offset: 4px;
          border-radius: 4px;
        }
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 2.75rem;

        &:focus-visible {
          outline: 2px solid var(--neutral-700, #5f6d62);
          outline-offset: 2px;
          border-radius: 4px;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .mobile {
        &__toggle {
          gap: 0.3125rem;
          align-content: center;
          display: none;
          width: 2.75rem;
          height: 2.75rem;
          justify-content: center;

          > div {
            height: 0.125rem;
            width: 1.5rem;
            border-radius: 999px;
            background-color: var(--neutral-600, #87988b);
            transition:
              transform 800ms var(--easing),
              opacity 300ms ease-out;
          }
        }
        &__menu {
          position: absolute;
          top: 100%;
          right: calc(-1 * var(--pageMargin));
          flex-direction: column;
          opacity: 0;
          visibility: hidden;
          transform: translateX(60%);
          display: flex;
          height: 100vh;
          gap: 0.675rem;
          font-size: var(--typography-body-m, 0.875rem);
          padding: clamp(1rem, calc(1.5vw / 0.48), 1.5rem) var(--pageMargin) clamp(1rem, calc(1.5vw / 0.48), 1.5rem)
            clamp(0.5rem, calc(2.5vw / 0.48), 2.5rem);
          transition:
            opacity 250ms ease-out,
            visibility 250ms ease-out,
            transform 1200ms var(--easing);

          background-color: var(--neutral-100, #f2faf6);
          border-radius: 0 0 6px 6px;
          width: 100%;
          max-width: clamp(18rem, calc(28.5625rem / 0.48), 28.5625rem);
          overflow-y: auto;

          @media (max-width: 36.25rem) {
            max-width: 18rem;
            padding-left: var(--pageMargin);
          }
        }

        &__projects {
          > div {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 600ms var(--easing);

            > div {
              overflow: hidden;
              display: flex;
              flex-direction: column;
              gap: 0.25rem;
              padding-left: 0.5rem;
              visibility: hidden;
              transition: visibility 300ms ease-out 300ms;

              > a:not(.mobile__allProjects) {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: var(--typography-body-m, 0.875rem);
                position: relative;

                &:first-of-type {
                  margin-top: 0.5rem;
                }

                .image {
                  flex-shrink: 0;
                  border-radius: 2px;
                  overflow: hidden;
                  img {
                    width: clamp(44px, calc(62px / 0.48), 62px);
                    height: clamp(59px, calc(83px / 0.48), 83px);
                    transition: transform 1000ms var(--easing);
                  }
                }

                span {
                  flex: 1;
                  transition: transform 800ms var(--easing);
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: -0.5rem;
                  width: calc(100% + 0.5rem);
                  height: 100%;
                  border-radius: 2px;
                  border: 2px solid var(--neutral-700, #5f6d62);
                  opacity: 0;
                }

                &:hover:not(:focus):not(:focus-visible) {
                  .image {
                    img {
                      transform: scale(1.05);
                    }
                  }

                  span {
                    transform: translateX(2px);
                  }
                }

                &:focus-visible {
                  outline: none;
                  &::before {
                    opacity: 1;
                  }
                }
              }

              > a:last-of-type {
                margin-top: 0.5rem;
                border-radius: 2px;
                justify-content: flex-start;
                max-width: none;
                min-height: 2.75rem;

                &::after {
                  content: '';
                  position: absolute;
                  inset: 0;
                  border-radius: 2px;
                  border: 2px solid var(--neutral-700, #5f6d62);
                  opacity: 0;
                }

                &:focus-visible {
                  outline: none;
                  &::after {
                    opacity: 1;
                  }
                }
              }
            }
          }

          &[data-open='true'] {
            > div {
              grid-template-rows: 1fr;
              > div {
                visibility: visible;
                transition-delay: 0ms;
              }
            }
          }
        }
        &__projects > button,
        &__menu > a {
          position: relative;
          width: 100%;
          padding-left: 0.5rem;
          overflow: hidden;
          isolation: isolate;
          z-index: 2;
          border-radius: 8px;
          min-height: 2.75rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: color 300ms ease-out;

          svg {
            transition: color 300ms ease-out;
          }

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transform-origin: left;
          }
          &::before {
            z-index: -2;
            background-color: var(--neutral-300, #d0e1d7);
            transition: transform 1300ms var(--easing);
          }

          &::after {
            background-color: var(--neutral-700, #d0e1d7);
            transition: transform 900ms var(--easing);
            z-index: -1;
          }

          &:hover::before {
            transform: scaleX(1);
          }

          &:focus:not(:focus-visible) {
            color: var(--neutral-100, #f2faf6);

            svg {
              transition-delay: 100ms;
            }
            &::after {
              transform: scaleX(1);
            }
          }

          &:focus-visible {
            outline: 2px solid var(--neutral-700, #5f6d62);
            outline-offset: 2px;
            border-radius: 4px;
          }
        }
      }

      &[data-mobile-open='true'] {
        .mobile {
          &__toggle {
            > div:first-of-type {
              transform: translateY(0.4375rem) rotate(-45deg);
            }
            > div:nth-of-type(2) {
              opacity: 0;
              visibility: hidden;
            }
            > div:last-of-type {
              transform: translateY(-0.4375rem) rotate(45deg);
            }
          }
        }
      }

      @media (max-width: 75rem) {
        display: flex;
        justify-content: space-between;

        .links {
          display: none;
        }

        .mobile {
          &__toggle {
            display: grid;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 4px;
              border: 2px solid var(--neutral-700, #5f6d62);
              opacity: 0;
              visibility: hidden;
            }

            &:focus-visible {
              outline: none;
              &::before {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
        &[data-mobile-open='true'] {
          .mobile__menu {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);

            transition:
              opacity 250ms ease-out,
              visibility 250ms ease-out,
              transform 600ms var(--easing);
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-out;

    &[data-active='true'] {
      opacity: 1;
      pointer-events: auto;
    }
  }
</style>

<script>
  // ------------------- Highlight Settings -------------------

  const linksLeft = document.querySelector('.links__left') as HTMLDivElement;
  const linksLeftArray = document.querySelectorAll('.links__left .headerLink');
  const highlightLeft = document.querySelector('.links__left .highlight') as HTMLDivElement;
  const linksRight = document.querySelector('.links__right') as HTMLDivElement;
  const linksRightArray = document.querySelectorAll('.links__right .headerLink');
  const highlightRight = document.querySelector('.links__right .highlight') as HTMLDivElement;
  const easing = 'cubic-bezier(0.19, 1, 0.22, 1)';

  linksLeftArray.forEach((link) => {
    link.addEventListener('mouseenter', () => {
      const linkX = link.getBoundingClientRect().x;
      const linksLeftX = linksLeft.getBoundingClientRect().x;
      const linkTranslateY = highlightLeft.style.transform.split(', ')[1]?.replace('%)', '');

      if (link.getAttribute('data-current') === 'true') {
        highlightLeft.style.borderRadius = '4px 4px 0 0';
      } else {
        highlightLeft.style.borderRadius = '4px';
      }

      if (!highlightLeft.style.transform) {
        highlightLeft.style.transition = `transform 700ms ${easing}`;
        highlightLeft.style.width = `${link.clientWidth}px`;
        highlightLeft.style.left = `${linkX - linksLeftX}px`;
        highlightLeft.style.transform = `translate(0px, -100%)`;
        return;
      }

      if (linkTranslateY === '0' && highlightLeft.style.transform) {
        highlightLeft.style.transition = `transform 700ms ${easing}`;
        highlightLeft.style.left = `${linkX - linksLeftX - Number(highlightLeft.style.transform.split(', ')[0].split('(')[1].replace('px', ''))}px`;
        highlightLeft.style.width = `${link.clientWidth}px`;
        highlightLeft.style.transform = `translate(${highlightLeft.style.transform.split(', ')[0].split('(')[1]}, -100%)`;
        return;
      }

      if (linkTranslateY !== '0') {
        highlightLeft.style.transition = `transform 700ms ${easing}, width 700ms ${easing}`;
        highlightLeft.style.width = `${link.clientWidth}px`;
        highlightLeft.style.transform = `translate(${linkX - linksLeftX - Number(highlightLeft.style.left.replace('px', ''))}px, -100%)`;
        return;
      }
    });

    link.addEventListener('mouseleave', () => {
      link.classList.remove('linkActive');
      highlightLeft.classList.remove('active');
    });

    link.addEventListener('mousedown', () => {
      link.classList.add('linkActive');
      highlightLeft.classList.add('active');
    });
  });

  linksLeft.addEventListener('mouseleave', () => {
    highlightLeft.style.transform = `translate(${highlightLeft.style.transform.split(', ')[0].split('(')[1]}, 0%)`;
  });

  linksRightArray.forEach((link) => {
    link.addEventListener('mouseenter', () => {
      const linkX = link.getBoundingClientRect().x;
      const linksRightX = linksRight.getBoundingClientRect().x;
      const linkTranslateY = highlightRight.style.transform.split(', ')[1]?.replace('%)', '');

      if (link.getAttribute('data-current') === 'true') {
        highlightRight.style.borderRadius = '4px 4px 0 0';
      } else {
        highlightRight.style.borderRadius = '4px';
      }

      if (!highlightRight.style.transform) {
        highlightRight.style.transition = `transform 700ms ${easing}`;
        highlightRight.style.width = `${link.clientWidth}px`;
        highlightRight.style.left = `${linkX - linksRightX}px`;
        highlightRight.style.transform = `translate(0px, -100%)`;
        return;
      }
      if (linkTranslateY === '0' && highlightRight.style.transform) {
        highlightRight.style.transition = `transform 700ms ${easing}`;
        highlightRight.style.left = `${linkX - linksRightX - Number(highlightRight.style.transform.split(', ')[0].split('(')[1].replace('px', ''))}px`;
        highlightRight.style.width = `${link.clientWidth}px`;
        highlightRight.style.transform = `translate(${highlightRight.style.transform.split(', ')[0].split('(')[1]}, -100%)`;
        return;
      }

      if (linkTranslateY !== '0') {
        highlightRight.style.transition = `transform 700ms ${easing}, width 700ms ${easing}`;
        highlightRight.style.width = `${link.clientWidth}px`;
        highlightRight.style.transform = `translate(${linkX - linksRightX - Number(highlightRight.style.left.replace('px', ''))}px, -100%)`;
        return;
      }
    });

    link.addEventListener('mouseleave', () => {
      link.classList.remove('linkActive');
      highlightRight.classList.remove('active');
    });

    link.addEventListener('mousedown', () => {
      link.classList.add('linkActive');
      highlightRight.classList.add('active');
    });
  });

  linksRight.addEventListener('mouseleave', () => {
    highlightRight.style.transform = `translate(${highlightRight.style.transform.split(', ')[0].split('(')[1]}, 0%)`;
  });

  // ------------------- Opening & Closing Projects and Mobile Menu -------------------

  const projectsContainer = document.querySelector('.projectsContainer') as HTMLDivElement;
  const projectsList = document.querySelector('.projectsList') as HTMLDivElement;
  const projectButton = document.querySelector('.projectsContainer .headerLink') as HTMLButtonElement;
  const header = document.querySelector('.header') as HTMLDivElement;
  const overlay = document.querySelector('.overlay') as HTMLDivElement;
  const mobileToggle = document.querySelector('.mobile__toggle') as HTMLButtonElement;
  const headerContainer = document.querySelector('.headerContainer') as HTMLDivElement;
  const mobileProjectsToggle = document.querySelector('.mobile__projectsToggle') as HTMLButtonElement;
  const mobileProjects = document.querySelector('.mobile__projects') as HTMLDivElement;
  const mobileProjectsListContent = document.querySelector('.mobile__projectsListContent') as HTMLDivElement;

  const toggleProjects = (action: 'open' | 'close') => {
    const setHeaderTop = () => {
      projectsList.style.top = `${(header.getBoundingClientRect().height + header.getBoundingClientRect().y) / 16}rem`;
    };

    if (action === 'open') {
      setHeaderTop();
      projectsContainer.setAttribute('data-active', 'true');
      projectButton.setAttribute('aria-expanded', 'true');
      document.addEventListener('scroll', setHeaderTop);
      overlay.setAttribute('data-active', 'true');
      header.style.borderRadius = '0px';
    } else {
      projectsContainer.setAttribute('data-active', 'false');
      mobileProjects.setAttribute('data-open', 'false');
      projectButton.setAttribute('aria-expanded', 'false');
      document.removeEventListener('scroll', setHeaderTop);
      overlay.setAttribute('data-active', 'false');
      header.style.borderRadius = '0 0 8px 8px';
    }
  };

  const toggleMobileMenu = (action: 'open' | 'close') => {
    if (action === 'open') {
      headerContainer.setAttribute('data-mobile-open', 'true');

      overlay.setAttribute('data-active', 'true');
    } else {
      headerContainer.setAttribute('data-mobile-open', 'false');
      overlay.setAttribute('data-active', 'false');
    }
  };

  const toggleMobileProjects = (action: 'open' | 'close') => {
    if (action === 'open') {
      mobileProjects.setAttribute('data-open', 'true');
      mobileProjectsToggle.setAttribute('aria-expanded', 'true');
      mobileProjectsListContent.setAttribute('aria-hidden', 'false');
    } else {
      mobileProjects.setAttribute('data-open', 'false');
      mobileProjectsToggle.setAttribute('aria-expanded', 'false');
      mobileProjectsListContent.setAttribute('aria-hidden', 'true');
    }
  };

  projectButton?.addEventListener('click', () => {
    if (projectsContainer.getAttribute('data-active') === 'true') {
      toggleProjects('close');
    } else {
      toggleProjects('open');
    }
  });

  mobileToggle?.addEventListener('click', () => {
    if (headerContainer.getAttribute('data-mobile-open') === 'true') {
      toggleMobileMenu('close');
      toggleMobileProjects('close');
    } else {
      toggleMobileMenu('open');
    }
  });

  mobileProjectsToggle?.addEventListener('click', () => {
    if (mobileProjects.getAttribute('data-open') === 'true') {
      toggleMobileProjects('close');
    } else {
      toggleMobileProjects('open');
    }
  });

  overlay.addEventListener('click', () => {
    toggleProjects('close');
    toggleMobileMenu('close');
    toggleMobileProjects('close');
  });

  document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape') {
      toggleProjects('close');
      toggleMobileMenu('close');
      toggleMobileProjects('close');
    }
  });
</script>
